<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRCodeViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA3EC05A1E025C3B0049E898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3EC0731E025C3B0049E898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3EC07E1E025C3B0049E898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
